.jumbotron
	%h2 Events

- @events.each do |event|
	.col-sm-3.col-xs-6
		.panel.panel-default
			.panel-thumbnail
				= button_to "Add a photo to this event", event_new_photo_for_event_path(event), method: :get
				Event:
				= event.name
				%br
				Location:
				= event.location
				%br
				Event Description:
				= event.description
				
				- event.photos.each do |photo|
					%br
					= image_tag photo.pic.url, width: 285, height: 285
					%br
					Photo Description:
					= photo.description
					%br
					Comments:
					
					- photo.comments.each do |comment| 
						= comment.content
						%br
						Tag:
					- photo.tags.uniq.each do |tag|
						= tag.name
					= button_to "Comment This Photo", photo_path(photo), method: :get
					= button_to "Tag This Photo", show_and_tag_photo_path(photo), method: :get
					%br