.jumbotron
	%h2 Photos
- @events.each do |event|
	Event:
	= event.name
	%br
	Location:
	= event.location
	%br
	Event Description:
	= event.description
	
	- event.photos.each do |photo|
		%br
		= image_tag photo.pic.url, width: 200, height: 200
		%br
		Photo Description:
		= photo.description
		%br
		Comments:
		
		- photo.comments.each do |comment| 
			= comment.content
			%br
			Tag:
		- photo.tags.uniq.each do |tag|
			= tag.name
		= button_to "Comment This Photo", photo_path(photo), method: :get
		= button_to "Tag This Photo", show_and_tag_photo_path(photo), method: :get
		%br