= form_for @photo do |f| 
	Event:
	= @event.name
	Add a picture:
	= f.file_field :pic
	Picture Description:
	= f.text_field :description
	= f.hidden_field :event_id, value: @event.id

	= f.submit "Add Photo"