= form_for @event do |e|
	Event:
	= @event.name
	= e.fields_for :photo do |p|
		%br
		Add a picture:
		= p.file_field :pic
		Picture Description:
		= p.text_field :description
		= p.hidden_field :event_id, value: @event.id

	= e.submit "Add Photo"