= form_for @new_comment do |p|
	= image_tag @photo.pic.url, width: 200, height: 200
	= p.label "Comment this photo"
	= p.hidden_field :commentable_id, value: @new_comment.commentable_id
	= p.hidden_field :commentable_type, value: @new_comment.commentable_type
	= p.text_field :content
	= p.submit "Add Comment"